.product-num
{
	border: 1px solid #e3e3e3;
	display: inline-block;
	text-align: center;
}
.num-input
{
	width: 30px;
    height: 30px;
    line-height: 28px;
    border: none;
    text-align: center;
}
